<% include partials/header %>

<div class="container mt-3">
    <div class="jumbotron py-3 text-center">
        <h1 class="display-4">Sukurti naują vartotoją</h1>
            <hr class="my-4">
        <form action="/users" method="POST">
            <input type="text" name="id" hidden>

            <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Pilnas vardas" required>
            </div>                    
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Prisijungimo vardas" required>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="El. paštas" required>
            </div>                  
            <div class="form-group">
                <input type="text" class="form-control" name="street" placeholder="Gatvė" required>
            </div>                  
            <div class="form-group">
                <input type="text" class="form-control" name="suite" placeholder="Buto numeris" required>
            </div>        
            <div class="form-group">
                <input type="text" class="form-control" name="city" placeholder="Miestas" required>
            </div>            
            <div class="form-group">
                <input type="text" class="form-control" name="zipcode" placeholder="Pašto kodas" required>
            </div>                  
            <div class="form-group">
                <input type="text" class="form-control" name="phone" placeholder="Telefono numeris" required>
            </div>   
            <div class="form-group">
                <input type="text" class="form-control" name="website" placeholder="Puslapis" required>
            </div>          
            

           
            <button class="btn btn-outline-success btn-md" role="button">Sukurti naują vartotoją</button>
            <a class="btn btn-outline-info btn-md" href="/users" role="button">Atgal</a>
        </form>
    </div>
</div>
<% include partials/footer %>